.flex-row {
  display: flex;
  flex-flow: row;
  position: relative;
  width: 100%;
}
.flex-col {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
}
.wrap {
  flex-wrap: wrap;
}

form {
  max-width: 25rem;
  gap: 2rem;
  align-self: center;
}
.err {
  padding: 0.5rem 1rem;
  border-left: 6px solid #FF2626;
  background-color: #FFE6E6;
}
.err2 {
  align-self: flex-end;
  font-size: 0.8rem;
  color: #FF2626;
}
.field {
  gap: 0.8rem;
}
.field > div {
  gap: 0.25rem;
}
/*.field > div:nth-child(3) {
  align-items: center;
}*/
.field input, form button {
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  font-size: inherit;
  font-family: inherit;
}
.field input:focus {
  outline: none;
}
.form-button {
  gap: 0.8rem;
}
.form-button span {
  align-self: center;
}