{% load static %}
<!DOCTYPE html>
<html id="html" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <div class="branding">
      <a href="../Html/navbar.html"><img src="{% static 'image/icon/nav.png' %}" alt=""></a>
    </div>
    <div class="menu-bar">
      <button class="menu-icon transparent-bg" id="menu-hamburger">
        <span style="font-size: 1.8rem;"><i class="fas fa-bars"></i></span>
      </button>
      <button class="menu-icon transparent-bg" id="menu-close" style="display: none;">
        <span style="font-size: 1.8rem;"><i class="fas fa-times"></i></span>
      </button>
      <nav class="menu-nav">
        <div class="overlay"></div>
        <ul class="nav-list">
          <li class="nav-listitem">About us
            <span style="margin-left: auto;"><i class="fas fa-caret-down"></i></span>
            <ul class="nav-listitem-drop">
              <li><a href="../Html/ourMission.html">Our mission</a></li>
              <li><a href="../Html/ourTeam.html">Our team</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </li>
          <li class="nav-listitem"><a href="#">Project</a></li>
          <li class="nav-listitem"><a href="#">Donate</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- put a page in <main> -->
  <main> 
    {% block main %}{% endblock %}
  </main>

  <footer>
    <div class="footer-top">
      <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/Genstemyouth-102506674976308/">
          <span style="color: white; font-size: 1.7rem;"><i class="fab fa-facebook-f"></i></span>
        </a>
        <a target="_blank" href="https://www.instagram.com/genstem.youth/">
          <span style="color: white; font-size: 1.7rem;"><i class="fab fa-instagram"></i></span>
        </a>
        <a target="_blank" href="https://www.tiktok.com/@genstem.youth/">
          <span style="color: white; font-size: 1.7rem;"><i class="fab fa-tiktok"></i></span>
        </a>
      </div>
      <form class="language-select">
        <label>Choose language</label>
        <div class="language-select-option">
          <select>
            <option selected value="en">English</option>
            <option value="th">Thai</option>
          </select>
          <button>Apply</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="copyright">
      <p>© 2021 GenSTEM. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/0ac04e08b1.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/axios.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/navbar.js' %}" type="text/javascript"></script>
{% block style %}{% endblock %}
{% block script %}{% endblock %}