{% extends 'navbar.html' %}
{% load static %}

{% block title %}AA2 | genSTEM{% endblock%}
{% block style %}
  <link href="{% static 'css/projectPage.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
  <script src="{% static 'js/projectPage.js' %}" type="text/javascript"></script>
{% endblock %}

<!-- put a page in <main> -->
{% block main %}
  <div class="blog-main flex-col">
    <div class="blog-head flex-col">
      <h1>{{ blog.head }}</h1>
      <span class="blog-meta">{{blog.date |date:'M d, Y'}} by <a href="#">{{ blog.writer }}</a></span>
    </div>
    <div class="blog-body flex-col">
      {{ blog.body |safe }}
    </div>
    <div class="blog-foot flex-col">
      <div class="blog-tags flex-row wrap">
        {{ blog.foot |safe }}
      </div>
      <hr>
      <div class="another-blog flex-row">
        <div class="blog-post flex-col" onclick="location.href='#';">
          <img src="">
          <div class="flex-col">
            <h1>Another blog post</h1>
            <span class="blog-meta">December 23, 2013 by <a href="#">Jacob</a></span>
          </div>
        </div> <!-- /.blog-post -->
        
        <div class="blog-post flex-col" onclick="location.href='#';">
          <img src="">
          <div class="flex-col">
            <h1>Another blog post</h1>
            <span class="blog-meta">December 23, 2013 by <a href="#">Jacob</a></span>
          </div>
        </div> <!-- /.blog-post -->

        <div class="blog-post flex-col" onclick="location.href='#';">
          <img src="">
          <div class="flex-col">
            <h1>Another blog post</h1>
            <span class="blog-meta">December 23, 2013 by <a href="#">Jacob</a></span>
          </div>
        </div> <!-- /.blog-post -->
      </div>
    </div>
  </div>

  <div class="blog-sidebar flex-col">
    <div class="flex-col">
      <h4>About</h4>
      <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="flex-col">
      <h4>Elsewhere</h4>
      <ol>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->
{% endblock %}
