{% extends 'navbar.html' %}
{% load static %}

{% block title %}draft | genSTEM{% endblock%}
{% block style %}
  <link href="{% static 'css/projectPage.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<!-- put a page in <main> -->
{% block main %}
  <div class="blog-tools flex-row">
    <span><i class="fas fa-fw fa-bold"></i></span>
    <span><i class="fas fa-fw fa-italic"></i></span>
    <span><i class="fas fa-fw fa-underline"></i></span>
    <hr>
    <span><i class="fas fa-fw fa-lg fa-heading"></i></span>
    <span><i class="fas fa-fw fa-heading"></i></span>
    <hr>
    <span><i class="fas fa-fw fa-link"></i></span>
  </div>
  <div class="blog-tools flex-row" id="add">
    <span><i class="fas fa-fw fa-bold"></i></span>
    <span><i class="fas fa-fw fa-italic"></i></span>
    <span><i class="fas fa-fw fa-underline"></i></span>
  </div>

  <div class="blog-main flex-col">
    <div class="blog-head flex-col">
      <h1 contenteditable>Sample blog post</h1>
    </div>
    <div contenteditable class="blog-body flex-col">
      <p data-placeholder="Insert text here..."></p>
    </div>
    <div class="blog-foot flex-col">
      <div class="blog-tags flex-row wrap">
        <a href="#" role="button">Older</a>
        <a href="#" role="button">Newer</a>
      </div>
    </div> 
  </div>

  <div class="blog-save flex-row">
    <button>save</button>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/writePage.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $('.blog-save button').click(function() {
      var data = new URLSearchParams();
      data.append('head', $('.blog-head h1').text());
      data.append('body', $('.blog-body').html());
      data.append('foot', $('.blog-tags').html());

      axios({
        url: '',
        method: 'post',
        data: data,
        timeout: 3000,
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken'
      })
      .then(response => {
        alert(response.data.err_msg);
      })
      .catch(error => {
        alert(error);
      });
    });
  </script>
{% endblock %}